---
import { tw } from '@nrsk/tw'

import type { NoteEntry } from '@/api/content'

import CardGrid from '@/components/CardGrid.astro'

import NotePreview from './NotePreview.astro'

export interface Props {
  items: Array<NoteEntry>
}

const { items } = Astro.props

const contentClasses = tw`
  flex flex-col gap-10
`
---

<section class={contentClasses}>
  <CardGrid>
    {items.map((snippet) => <NotePreview item={snippet} />)}
  </CardGrid>
</section>
