.external {
  padding-bottom: 0.05rem;
  border-bottom: 2px solid rgba(var(--accent-base), 0.125);
  color: rgba(var(--accent-base), 0.9);
}

.external:focus,
.external:hover {
  color: var(--link-hover);
  border-color: var(--link-hover);
}
