html {
  line-height: 1.6;
  font-size: var(--font-size);
  text-size-adjust: none;

  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

@media screen and (min-width: 2048px) {
  html {
    font-size: var(--font-size-2k);
  }
}

body {
  min-height: 100vh;
  font-size: 1.125rem;
  color: var(--text);
}

/** Inlines. */

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

/** Links.  */

a {
  text-decoration: none;
  cursor: pointer;

  color: var(--link);
  transition: color 100ms ease-in-out, border-color 100ms ease-in-out;
}

a:focus,
a:hover {
  color: var(--link-hover);
  border-color: transparent;
}

/** Selection. */

::-moz-selection {
  background-color: var(--selection-background);
  color: var(--selection-color);
  text-shadow: none;
}

::selection {
  background-color: var(--selection-background);
  color: var(--selection-color);
  text-shadow: none;
}

/** Headings. */

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.65rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0 1rem;
  font-weight: bolder;
}
