.profile {
  width: 100%;
  min-height: 32rem;
  background-image: url(/images/profile-square.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  border-radius: 0.5rem;
}

@media screen and (min-width: 640px) {
  .profile {
    width: 50%;
    background-position: left 30%;
  }
}
