---
import type { ArticleEntry } from '@/api/content'

import ArticleList from '@/components/ArticleList.astro'

export interface Props {
  items: Array<ArticleEntry>
}

const { items } = Astro.props
---

<section class="flex flex-col gap-4">
  <h2
    class:list={[
      "text-2xl font-semibold",
      "text-gray-900 dark:text-gray-50"
    ]
  }>
    Articles
  </h2>

  <p
    class:list={[
      "mb-2",
      "text-gray-800 dark:text-gray-300"
    ]}
  >
    I occasionally write about Rust, TypeScript, functional programming, and front-end stuff.
  </p>

  <ArticleList items={items} />
</section>
