---
import Link from '@/components/Link.astro'

const email = `mailto:hello@vm.codes`

const bandcamp = 'https://hypnosense.bandcamp.com'
const spotify = 'https://open.spotify.com/artist/1EqX9erOVQHCVlAwGihPS2?si=U6WzSwm0RSCnS70g_sVZXQ'
---

<section class="flex flex-col gap-4">
  <h2
    class:list={[
      "text-2xl font-semibold",
      "text-gray-900 dark:text-gray-50"
    ]}
  >
    Hello!
  </h2>

  <p class="text-gray-800 dark:text-gray-300">
    I'm a software engineer building polished products and web experiences using modern tech stack.
    My expertise ranges from working independently to leading teams towards project success as a
    tech/team lead.
  </p>

  <p class="text-gray-800 dark:text-gray-300">
    I'm also a Rust and functional programming aficionado fascinated by design of compilers and
    programming languages. Sometimes I write music, mostly drone-ambient, which is available for
    free on my <Link to={bandcamp} external>Bandcamp</Link> and <Link to={spotify} external>Spotify</Link>.
  </p>

  <hr
    class:list={[
      "my-2 w-1/12",
      "border-t-2 border-gray-200 dark:border-gray-800"
    ]}
  />

  <p class="text-gray-800 dark:text-gray-300">
    You can reach me via <Link to={email}>email</Link>.
  </p>
</section>
