---
import { tw } from '@nrsk/tw'

import type { ArticleEntry } from '@/api/content/articles'

import Card from '@/components/Card.astro'
import Date from '@/components/Date.astro'

export interface Props {
  item: ArticleEntry
}

const { slug, frontmatter } = Astro.props.item

const headingClasses = tw`
  mb-4 w-full
  text-lg font-semibold leading-tight tracking-tight line-clamp-3
  text-gray-900 dark:text-gray-100
`

const footerClasses = tw`text-gray-500 dark:text-gray-400`
---

<Card tag="a" to={'/blog/' + slug} justify>
  <h3 slot="header" class={headingClasses}>
    {frontmatter.title}
  </h3>

  <Date slot="footer" class={footerClasses} date={frontmatter.createdAt} />
</Card>
