---
import Card from '@/components/Card.astro'
import Date from '@/components/Date.astro'

import type { Article } from '@/api/articles'
import { tw } from '@/utils'

export interface Props {
  article: Article
}

const { slug, frontmatter } = Astro.props.article

const headingClasses = tw`
  mb-4 w-full
  text-lg font-semibold tracking-tight line-clamp-3
  text-gray-900 dark:text-gray-100
`

const footerClasses = tw`text-gray-500 dark:text-gray-400`
---

<Card tag="a" to={'/blog/' + slug} justify>
  <h3 slot="header" class={headingClasses}>
    {frontmatter.title}
  </h3>

  <Date slot="footer" class={footerClasses} date={frontmatter.createdAt} />
</Card>
