---
import { tw } from '@nrsk/tw'

import type { SnippetEntry } from '@/api/content/snippets'

import CardGrid from '@/components/CardGrid.astro'

import SnippetPreview from './SnippetPreview.astro'

export interface Props {
  items: Array<SnippetEntry>
}

const { items } = Astro.props

const contentClasses = tw`
  flex flex-col gap-10
`
---

<section class={contentClasses}>
  <CardGrid>
    {items.map((snippet) => <SnippetPreview item={snippet} />)}
  </CardGrid>
</section>
