---
import Header from '@/components/Header.astro'

import { loadArticles } from '@/api/articles'
import { inflect } from '@/utils'

import ArticlePreview from './ArticlePreview.astro'

const articles = await loadArticles({
  sort: 'desc'
})

const articlesNoteInflected = inflect(
  [
    `there's <strong>${articles.length}</strong> article`,
    `there're <strong>${articles.length}</strong> articles`
  ],
  articles.length
)
---

<section class="articles">
  <Header>
    <h1 slot="heading" class="articles-heading">
      Blog
    </h1>

    <p slot="sub" class="articles-note">
      So far <span set:html={articlesNoteInflected} />, but I'm working on new stuff!
    </p>
  </Header>

  <section class="articles-content">
    {articles.map((article) => <ArticlePreview article={article}/>)}
  </section>
</section>

<style>
.articles {
  @apply flex flex-col gap-10 w-full;
}

.articles-heading {
  @apply text-3xl font-bold tracking-tight text-black md:text-5xl;
}

:global(.dark .articles-heading) {
  @apply text-white;
}

.articles-note {
  @apply text-gray-600;
}

:global(.dark .articles-note) {
  @apply text-gray-400;
}

.articles-content {
  @apply flex flex-col gap-8;
}
</style>
