---
import { tw } from '@nrsk/tw'

import type { ArticleEntry } from '@/api/content/articles'

import ArticlePreview from './ArticlePreview.astro'

export interface Props {
  items: Array<ArticleEntry>
}

const { items } = Astro.props

const contentClasses = tw`
  flex flex-col gap-10
`
---

<section class={contentClasses}>
  {items.map((article) => <ArticlePreview item={article} />)}
</section>
