---
import { tw } from '@/utils'

const containerClasses = tw`
  [--height:8rem] sm:[--height:12rem]

  grid gap-x-6 gap-y-6 w-full max-w-[100vw]
  grid-cols-1 sm:grid-cols-2 md:grid-cols-3
  [grid-auto-rows:minmax(var(--height),auto)]
`
---

<section class={containerClasses}>
  <slot />
</section>
