.content {
  width: 100%;
}

/** Code highlighting. */

.content :global(.shiki) {
  overflow-x: scroll;
  padding: 1.5rem;
  border-radius: 0;
  margin: 0 -1.5rem;
}

@media screen and (min-width: 768px) {
  .content :global(.shiki) {
    border-radius: 0.5rem;
    margin: 0;
  }
}

/** Inline code. */

.content :global(:not(pre) code) {
  background: var(--contrast-900);
  padding: 0.15rem 0.15rem;
  border-radius: 0.25rem;
}

/** Blockquotes. */

.content q,
.content blockquote {
  color: var(--contrast-500);
  padding: 0 1rem;
  margin: 0 0 1rem;
  border-left: 0.4rem solid var(--contrast-900);
}

/** Links. */

.content a {
  padding-bottom: 0.05rem;
  border-bottom: 2px solid rgba(var(--accent-base), 0.125);
  color: rgba(var(--accent-base), 0.815);
}

.content a:focus,
.content a:hover {
  color: var(--link-hover);
  border-color: var(--link-hover);
}

/** Headers. */

.content :global(a.header-anchor) {
  border: 0;
  position: static;
  color: var(--contrast-900);
  transition: color 100ms ease-in-out;
}

.content :global(a.header-anchor:focus),
.content :global(a.header-anchor:hover) {
  color: var(--text);
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  position: relative;
}

@media screen and (min-width: 560px) {
  .content :global(a.header-anchor) {
    position: absolute;
    right: 101%;
    top: 0;
    text-align: right;
  }
}

/** Tables. */

.content table {
  width: 100%;
  max-width: 100%;
  font-size: 1.15rem;
}

.content table tr,
.content table td,
.content table th {
  padding: 0.5rem 0.75rem;
}

.content table tr {
  border-bottom: 1px solid var(--contrast-900);
}

.content th {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: left;
  background-color: var(--contrast-900);
}

/** Images. */

.content img {
  width: 100%;
  border-radius: 0.5rem;
}
