---
---

<div class="relative w-full">
  <details class="group peer relative z-20 w-full">
    <summary
      class:list={[
        "flex flex-row-reverse justify-between items-center gap-2 px-6 py-4",
        "list-none marker:hidden [&::-webkit-details-marker]:hidden",
        "rounded-lg cursor-pointer select-none transition-all",
        "text-gray-900 dark:text-gray-50 bg-gray-300/15 dark:bg-gray-400/5",
        "group-open:rounded-b-none"
      ]}
    >
      <div
        class:list={[
          "before:content-['⇣'] before:font-mono before:text-lg before:text-gray-300",
          "group-open:before:content-['⇡']"
        ]}
      />

      <slot name="summary">
        <p>Dropdown summary</p>
      </slot>
    </summary>
  </details>

  <div
    class:list={[
      "absolute w-full z-10 overflow-hidden rounded-b-lg shadow-2xl",
      "bg-gray-50 dark:bg-gray-900",
      "group-open:shadow-gray-500/50 dark:group-open:shadow-black/80",
      "origin-top transition-all ease-cubic-in-out",
      "translate-y-2 opacity-0",
      "peer-open:translate-y-0 peer-open:opacity-100"
    ]}
  >
    <div
      class:list={[
        "px-5 py-4 w-full rounded-b-lg",
        "bg-gray-100/30 dark:bg-gray-100/5"
      ]}
    >
      <slot name="content">
        Dropdown content.
      </slot>
    </div>
  </div>
</div>
