---
export interface Props {
  title?: string
  class?: string
  description?: string
}

const { title, class: className, description } = Astro.props
---

<header
  class:list={[
    "flex flex-col gap-4",
    "w-full"
  ]}
>
  <h1
    class:list={[
      "text-2xl font-semibold",
      "text-black dark:text-white",
      className
    ]}
  >
    {Astro.slots.has('title') ? <slot name="title" /> : title}
  </h1>

  {
    (Astro.slots.has('description') || description) &&
      <p class="text-gray-500 dark:text-gray-400">
        {Astro.slots.has('description') ? <slot name="description" /> : description}
      </p>
  }
</header>
