---
export interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<Fragment>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="description" content={description} />
  <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
  <meta name="generator" content={Astro.generator} />

  <title>{title}</title>

  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

  <link
    rel="preload"
    href="/fonts/inter-var-latin.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
  />

  <style is:inline>
    @font-face {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 100 900;
      font-display: optional;
      src: url('/fonts/inter-var-latin.woff2') format('woff2');
      unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
        U+FEFF, U+FFFD;
    }
  </style>
</Fragment>
