.logo {
  height: 4rem;
}

.logo:hover :global(path) {
  fill: var(--accent);
  transition: fill 100ms ease-in-out;
}

.logo:hover {
  cursor: pointer;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  animation: shake 900ms cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite alternate-reverse;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, -1px, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 1px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 2px, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, -2px, 0);
  }
}
