---
export interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<main
  class:list={[
    "flex flex-col justify-center gap-12",
    "w-full max-w-2xl mx-auto px-8 lg:px-0",
    className
  ]}
>
  <slot />
</main>
