---
import { slideVertically } from '@/api/transitions'

import ThemeSwitcher from './ThemeSwitcher.astro'
import Avatar from './Avatar.astro'
import Link from './Link.astro'

export interface Item {
  label: string
  to: string
}
---

<nav
  class:list={[
    "flex items-center justify-between",
    "w-full py-4 mt-6 md:mt-12",
    "border-b border-gray-50/40 dark:border-gray-900/40",
    "text-gray-900 dark:text-gray-100 bg-gray-50 dark:bg-gray-900"
  ]}
>
  <div
    class:list={[
      "flex items-center justify-between",
      "w-full max-w-2xl mx-auto px-8 lg:px-0"
    ]}
    transition:animate={slideVertically({ duration: '600ms' })}
  >
    <Link to="/" underline={false}>
      <div class="group flex items-center gap-4">
        <Avatar
          class:list={[
            "w-[3rem] h-[3rem]",
            "group-hover:animate-boing",
          ]}
        />

        <div
          class:list={[
            "transition-colors",
            "text-gray-900 dark:text-gray-50",
            "group-hover:text-crayola-500 dark:group-hover:text-crayola-300"
          ]}
        >
          <div>Vladislav Mamon</div>
          <div class="text-gray-500 dark:text-gray-400">Software engineer</div>
        </div>
      </div>
    </Link>

    <ThemeSwitcher />
  </div>
</nav>
