.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

@media screen and (min-width: 560px) {
  .nav {
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }
}

.brand {
  padding-bottom: 4rem;
}

@media screen and (min-width: 560px) {
  .brand {
    padding: 0;
  }
}

.links {
  display: flex;
  align-items: center;
}

.link,
.divider {
  padding: 0 0.5rem;
  font-size: 1.25rem;
  font-weight: 800;
}

@media screen and (min-width: 560px) {
  .link,
  .divider {
    padding-left: 0.5rem;
  }
}

.divider {
  color: var(--contrast-800);
}

.link:hover {
  color: var(--accent);
}

@media screen and (min-width: 768px) {
  .nav {
    justify-content: space-between;
    max-width: var(--container-w);
  }
}
