---
import { tw } from '@nrsk/tw'

export interface Props {
  to: string
  active?: boolean
}

const { to, active = false } = Astro.props

const navItemClasses = tw`
  inline-block p-3 py-2 mr-2 last:mr-0
  font-semibold transition-colors rounded-lg
  text-gray-800 hover:bg-gray-200 dark:hover:bg-gray-800
`

const navItemExtendClasses = active
  ? tw`dark:text-gray-200 bg-gray-200 dark:bg-gray-800`
  : tw`dark:text-gray-400`
---

<a href={to} class:list={[navItemClasses, navItemExtendClasses]}>
  <slot />
</a>
