---
import { tw } from '@nrsk/tw'

export interface Props {
  to: string
  active?: boolean
}

const { to, active = false } = Astro.props

const navItemClasses = tw`
  hidden md:inline-block p-1 sm:px-3 sm:py-2
  font-semibold transition-[color,background-color] rounded-lg
  text-gray-800 hover:bg-gray-200 dark:hover:bg-gray-800
`

const navItemExtendClasses = active ? tw`dark:text-gray-200 underline` : tw`dark:text-gray-400`
---

<a href={to} class:list={[navItemClasses, navItemExtendClasses]}>
  <slot />
</a>
