---
export interface Props {
  to: string
  active?: boolean
}

const { to, active = false } = Astro.props
---

<a href={to} class:list={{ 'nav-item': true, 'nav-item-active': active }}>
  <slot />
</a>

<style>
.nav-item {
  @apply
    hidden md:inline-block
    p-1 sm:px-3 sm:py-2 rounded-lg
    font-semibold transition-colors
    text-gray-800 hover:bg-gray-200;
}

:global(.dark .nav-item) {
  @apply text-gray-400 hover:bg-gray-800;
}

.nav-item-active {
  @apply underline text-gray-800;
}

:global(.dark .nav-item-active) {
  @apply text-gray-200;
}
</style>
