---
import { tw } from '@nrsk/tw'

const scrollTopClasses = tw`
  inline-block underline hover:no-underline focus:no-underline transition-[color,background-color]
  text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-200
`
---

<button
  type="button"
  class={scrollTopClasses}
  onclick="window.scroll({ top: 0, left: 0, behavior: 'smooth' })"
>
  <slot />
</button>
