---
import type { Tag } from '@/api/frontmatter'

import TagLink from './TagLink.astro'
import TagText from './TagText.astro'

export interface Props {
  class?: string
  items: Array<Tag>
}

const { class: className, items } = Astro.props
---

<span class={className}>
  {
    items.map(
      (item) => item.url
        ? <TagLink url={item.url}>{item.name}</TagLink>
        : <TagText>{item.name}</TagText>
    )
  }
</span>
