---
---

<span class="group inline-flex mr-2 last:mr-0">
  <span
    class:list={[
      "inline-block select-none",
      "font-mono transition-colors",
      "text-gray-400 dark:text-gray-400",
      "group-hover:text-crayola-500 dark:group-hover:text-crayola-300"
    ]}
  >
    #
  </span>

  <span class="inline-block">
    <slot />
  </span>
</span>
