---
import { tw } from '@/utils'

import ThemeIconLight from './ThemeIconLight.astro'
import ThemeIconDark from './ThemeIconDark.astro'

const buttonClasses = tw`
  flex items-center justify-center
  w-9 h-9 rounded-lg transition-all hover:ring-2
  bg-gray-200 dark:bg-gray-600 ring-gray-300
`
---

<button
  id="js-button"
  type="button"
  aria-label="auto"
  aria-live="polite"
  class={buttonClasses}
>
  <ThemeIconDark />
  <ThemeIconLight />
</button>
