---
import ThemeIconLight from './ThemeIconLight.astro'
import ThemeIconDark from './ThemeIconDark.astro'
---

<button
  id="js-button"
  type="button"
  aria-label="auto"
  aria-live="polite"
  class="theme-button"
>
  <ThemeIconDark />
  <ThemeIconLight />
</button>

<style>
button.theme-button {
  @apply
    flex items-center justify-center w-9 h-9 rounded-lg
    bg-gray-200 hover:ring-2 ring-gray-300 transition-all;
}

:global(.dark button.theme-button) {
  @apply bg-gray-600;
}
</style>
