<script>
const DARK = 'dark'
const LIGHT = 'light'
const LC_ITEM = 'color-scheme'

function hasClass(el: HTMLElement | null, className: string) {
  return el?.classList.contains(className) ?? false
}

document.addEventListener('DOMContentLoaded', () => {
  const rootEl = document.documentElement

  // Media query.
  const schemeMedia = window.matchMedia('(prefers-color-scheme: dark)')

  // Icons & button.
  const buttonEl = document.getElementById('js-button')
  const darkIconEl = document.getElementById('js-dark-icon')
  const lightIconEl = document.getElementById('js-light-icon')

  const toggleColorScheme = (isDark: boolean) => {
    const isRootDark = hasClass(rootEl, DARK)
    const isLightHidden = hasClass(lightIconEl, 'hidden')
    const isDarkHidden = hasClass(darkIconEl, 'hidden')

    if (isDark) {
      !isRootDark && rootEl.classList.add(DARK)

      // Switch icons.
      !isLightHidden && lightIconEl?.classList.add('hidden')
      isDarkHidden && darkIconEl?.classList.remove('hidden')

      buttonEl?.setAttribute('title', 'Activate light mode')
    } else {
      isRootDark && rootEl.classList.remove(DARK)

      // Switch icons.
      isLightHidden && lightIconEl?.classList.remove('hidden')
      !isDarkHidden && darkIconEl?.classList.add('hidden')

      buttonEl?.setAttribute('title', 'Activate dark mode')
    }

    localStorage.setItem(LC_ITEM, isDark ? DARK : LIGHT)
  }

  // State from the `document.documentElement`.
  let schemeState = hasClass(rootEl, DARK)

  // Initial setting.
  toggleColorScheme(schemeState)

  // Track changes in media.
  schemeMedia.addEventListener('change', (event) =>
    toggleColorScheme(event.matches))

  // Button click.
  buttonEl?.addEventListener('click', () =>
    (schemeState = !schemeState, toggleColorScheme(schemeState)))
})
</script>

<button
  id="js-button"
  type="button"
  aria-label="auto"
  aria-live="polite"
  class="flex items-center justify-center w-9 h-9 rounded-lg bg-gray-200 dark:bg-gray-600 transition-colors hover:ring-2 ring-gray-300"
>
  <!-- Dark icon. -->
  <svg
    id="js-dark-icon"
    class="hidden w-5 h-5 text-gray-800 dark:text-gray-200"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="currentColor"
  >
    <path
      clip-rule="evenodd"
      fill-rule="evenodd"
      d="M9.528 1.718a.75.75 0 0 1 .162.819A8.97 8.97 0 0 0 9 6a9 9 0 0 0 9 9 8.97 8.97 0 0 0 3.463-.69.75.75 0 0 1 .981.98 10.503 10.503 0 0 1-9.694 6.46c-5.799 0-10.5-4.701-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 0 1 .818.162z"
    />
  </svg>

  <svg
    id="js-light-icon"
    class="hidden w-5 h-5 text-gray-800 dark:text-gray-200"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="currentColor"
  >
    <path
      clip-rule="evenodd"
      fill-rule="evenodd"
      d="M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.758 17.303a.75.75 0 00-1.061-1.06l-1.591 1.59a.75.75 0 001.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.697 7.757a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 00-1.061 1.06l1.59 1.591z"
    />
  </svg>
</button>
