---
import { nanoid } from 'nanoid'
import { tw } from '@nrsk/tw'

export type Position = 'top' | 'right' | 'bottom' | 'left'

interface Props {
  class?: string
  offsets?: string
  position?: Position
  show?: boolean
}

const { class: className, offsets, show = false, position = 'top' } = Astro.props

const tooltipId = `tooltip-${nanoid(12)}`

const styling: Record<Position, string> = {
  top: tw`
    ${show ? 'translate-y-0' : 'translate-y-4 group-hover:translate-y-0 group-focus:translate-y-0'}
    -translate-x-[var(--x-offset)] left-[var(--x-offset)] bottom-full mb-4
    before:top-full before:left-[var(--x-offset)] before:-translate-x-1/2
    before:border-t-nord-200
  `,
  right: tw`
    ${show ? 'translate-x-0' : '-translate-x-4 group-hover:translate-x-0 group-focus:translate-x-0'}
    -translate-y-[var(--y-offset)] top-[var(--y-offset)] left-full ml-4
    before:right-full before:top-[var(--y-offset)] before:-translate-y-1/2
    before:border-r-nord-200
  `,
  bottom: tw`
    ${show ? 'translate-y-0' : '-translate-y-4 group-hover:translate-y-0 group-focus:translate-y-0'}
    -translate-x-[var(--x-offset)] left-[var(--x-offset)] top-full mt-4
    before:bottom-full before:left-[var(--x-offset)] before:-translate-x-1/2
    before:border-b-nord-200
  `,
  left: tw`
    ${show ? 'translate-x-0' : 'translate-x-4 group-hover:translate-x-0 group-focus:translate-x-0'}
    -translate-y-[var(--y-offset)] top-[var(--y-offset)] right-full mr-4
    before:left-full before:top-[var(--y-offset)] before:-translate-y-1/2
    before:border-l-nord-200
  `
}
---

<label
  for={tooltipId}
  class:list={["group relative inline min-w-fit", className]}
  tabindex="0"
>
  <span aria-describedby={tooltipId}>
    <slot />
  </span>

  {
    Astro.slots.has('tooltip')
      ?
        <span
          id={tooltipId}
          role="tooltip"
          class:list={[
            // Offsets.
            offsets ?? "[--x-offset:50%] [--y-offset:50%]",

            // Element styling.
            "absolute px-3 py-2 whitespace-nowrap rounded-lg",
            "bg-nord-200 text-white shadow-neon",

            // Element trigger and transitions.
            "invisible opacity-0",
            "[transition:visibility_0s_300ms,opacity_300ms,transform_300ms] !ease-in-out-back",
            "group-hover:visible group-hover:opacity-100 group-hover:delay-0",
            "group-focus:visible group-focus:opacity-100 group-focus:delay-0",

            // Arrow styling.
            "before:absolute before:w-0 before:h-0",
            "before:content-[''] before:border-transparent before:border-[0.5rem]",

            // Position-specific styling.
            styling[position],
          ]}
          set:html={Astro.slots.render('tooltip')}
        />
      : null
  }
</label>
