---
import ScriptTheme from '@/components/ScriptTheme.astro'
import Content from '@/components/Content.astro'
import Wrapper from '@/components/Wrapper.astro'
import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Nav from '@/components/Nav.astro'

import '@/styles/global.css'

export interface Props {
  title: string
  description: string
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head {...Astro.props} />
  </head>

  <body>
    <ScriptTheme />

    <Wrapper>
      <Nav sticky={true} />

      <Content>
        <slot />
      </Content>

      <Footer />
    </Wrapper>
  </body>
</html>
