---
import ScriptTheme from '@/components/ScriptTheme.astro'
import Content from '@/components/Content.astro'
import Wrapper from '@/components/Wrapper.astro'
import Footer from '@/components/Footer.astro'
import Nav from '@/components/Nav.astro'

import '@fontsource/inter/latin-400.css'
import '@fontsource/inter/latin-600.css'
import '@fontsource/inter/latin-700.css'

import '@/styles/global.css'

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{title}</title>
  </head>

  <body>
    <ScriptTheme />

    <Wrapper>
      <Nav sticky={true} />

      <Content>
        <slot />
      </Content>

      <Footer />
    </Wrapper>
  </body>
</html>
