---
import type { Props as SeoProps } from 'astro-seo'

import Document from '@/components/Document.astro'
import Main from '@/components/Main.astro'

import '@/styles/global.css'

export interface Props extends SeoProps {}
---

<Document {...Astro.props}>
  <Main class="h-screen">
    <slot />
  </Main>
</Document>
