---
import type { Props as SeoProps } from 'astro-seo'
import { tw } from '@nrsk/tw'

import Document from '@/components/Document.astro'
import Footer from '@/components/Footer.astro'
import Main from '@/components/Main.astro'
import Nav from '@/components/Nav.astro'

import '@/styles/global.css'

export interface Props extends SeoProps {}

const mainClasses = tw`
  gap-10 sm:gap-16
`
---

<Document {...Astro.props}>
  <Nav sticky={false} />

  <Main class={mainClasses}>
    <slot />
  </Main>

  <Footer />
</Document>
